@model Learning_Space.Models.MoreStudy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MoreStudy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoreStudySubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoreStudySubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoreStudyUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoreStudyUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MoreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
