@model IEnumerable<Learning_Space.DTO.MoreStudyDTO>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
}

<link rel="stylesheet" type="text/css" href="./css/styles.css">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MoreStudySubject)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <a asp-action="Details" asp-route-id="@item.MoreId">
                <td>
                    
                @Html.DisplayFor(modelItem => item.MoreStudySubject)
                            </td>
          </a> 

            <td>
                @if(permission == 2 || permission == 0)
                {
                    <a asp-action="Edit" asp-route-moreid="@item.MoreId">&#9999; </a>
                      <form asp-action="Delete">
                        <input type="hidden" asp-for="@item.MoreId" />
                        <input type="submit" value="&#9746;" class="btn btn-danger" />
                        </form>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
