@model IEnumerable<Learning_Space.DTO.MoreStudyDTO>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
}


<h1>Index</h1>
@if(permission == 1 || permission == 0)
{
   <p>
    <a asp-action="Create" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid">&#x002B; Create New</a>
</p> 
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MoreStudySubject)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                @* <a asp-action="Details" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid" asp-route-moreid="@item.MoreId"></a> *@
                <td onclick="location.href='@Url.Action("Details", new { user = @user, permission = @permission,courseid=@courseid, moreid = @item.MoreId })';">
                    
                @Html.DisplayFor(modelItem => item.MoreStudySubject)
                </td>
                

            <td>
                @if(permission == 1 || permission == 0)
                {
                        <a asp-action="Edit" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid" asp-route-moreid="@item.MoreId">&#x270E;</a>
                        <form asp-action="Deletey" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid" asp-route-moreid="@item.MoreId">
                        <input type="hidden" asp-for="@item.MoreId" />
                        <input type="submit" value="&#9746;" class="btn btn-danger" />
                        </form>
                    }
                </td> 
        </tr>
}
    </tbody>
</table>
