@model Learning_Space.DTO.CourseDTO

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
}
<div class="general">
    @if(permission == 2|| permission == 0)
    {
        
    }
    <h1>Details</h1>

<div>

     <hr />
     <h4>Course</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassName)
        </dd>

    </dl>
</div>
<div>
    @if(permission == 0 || permission == 1)
    {
            <a asp-action="Edit" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId">&#xf044; Edit</a>
        }
        else
        {
            <a asp-action="Notebook" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId">notebook</a>

        }
        | <a asp-controller="Tasks" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId">Tasks</a> | 
    <a asp-controller="Users" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId">Student List</a> |
        <a asp-controller="Chats" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId">	&#xf086; Chat</a> |
    <a asp-controller="MoreStudies" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId">More Studies</a> |
        <a asp-controller="Calendar" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId">Calendar</a> |
        <a asp-controller="Lessons" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId">Lessons</a>|
        <a asp-controller="LessonAttends" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId">Lesson Attends</a>|
        <a asp-controller="Massages" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId">Massages</a>




        @* <a asp-action="Index">Back to List</a> *@
</div>
</div>