@model Learning_Space.DTO.CourseDTO

@{
    ViewData["Title"] = "Details";
}

@using Microsoft.AspNetCore.Http

@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
}




<h1>@Html.DisplayFor(model => model.CourseName)   </h1>

<h3>@Html.DisplayFor(model => model.CourseDescription)</h3>
    <br />
<h6>@Html.DisplayNameFor(model => model.TeacherName) : @Html.DisplayFor(model => model.TeacherName) </h6>|

 <h6> @Html.DisplayNameFor(model => model.ClassName) :  @Html.DisplayFor(model => model.ClassName)</h6>
  

<div class="divOption">
    @if (permission == 0)
    {
        <a asp-action="Edit" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId" class="course_options">
            <span class="link-icon"><i class="black-emoji">✍️</i></span> Edit
        </a>
    }
    else if (permission == 2)
    {
        <a asp-action="Notebook" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId" class="course_options">
            <span class="link-icon"><i class="black-emoji">&#x1F4D3;</i></span> Notebook
        </a>
    }

    <a asp-controller="Tasks" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId" class="course_options">
        <span class="link-icon"><i class="black-emoji">&#x1F4DD;</i></span> Tasks
    </a> 
    
    <a asp-controller="Users" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId" class="course_options">
        <span class="link-icon"><i class="black-emoji">&#x1F4D2;</i></span> Student List
    </a> 
    <a asp-controller="Chats" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId" class="course_options">
        <span class="link-icon"><i class="black-emoji">&#x1F5E8;</i></span> Chat
    </a> 
    <br/>
    <a asp-controller="MoreStudies" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId" class="course_options">
        <span class="link-icon"><i class="black-emoji">&#x1F4D6;</i></span> More Studies
    </a> 
    <a asp-controller="Calendar" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId" class="course_options">
        <span class="link-icon"><i class="black-emoji">&#x1F4C5;</i></span> Calendar
    </a> 
    
    <a asp-controller="Lessons" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId" class="course_options">
        <span class="link-icon"><i class="black-emoji">&#x1F393;</i></span> Lessons
    </a> 
    <a asp-controller="LessonAttends" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId" class="course_options">
        <span class="link-icon"><i class="black-emoji">&#x1F3EB;</i></span> Lesson Attends
    </a> 
    <a asp-controller="Massages" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@Model?.CourseId" class="course_options">
        <span class="link-icon"><i class="black-emoji">&#x1F4E9;</i></span> Messages
    </a>

