@model IEnumerable<Learning_Space.DTO.CourseDTO>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
}

<h1>Courses</h1>

@if(permission == 0)
{
    <p>
    <a asp-action="Create" asp-route-user="@user" asp-route-permission="@permission">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <a asp-action="Details" asp-route-id="@item.CourseId">
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td> *@
            <td>
                @if(permission == 0 || permission == 1)
                {
                            <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a>
                            if(permission == 0)
                            {
                                 <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                            }
                        }
                
               @*  <a asp-action="Details" asp-route-id="@item.CourseId"> *@
               
            </td>
        </tr>
            </a>
        }

    </tbody>
</table>
