@model IEnumerable<Learning_Space.DTO.CourseDTO>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http
@{
    int user = Convert.ToInt32(Context.Request.Query["user"]);
    int permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? classid = Convert.ToInt32(Context.Request.Query["classid"]);
}


<h1 class="title">Courses</h1>
<hr/>
<div class="create">
    @if (permission == 0)
    {
        if (classid.HasValue && classid.Value != 0)
        {
            <p>
                <a asp-action="Create" asp-route-user="@user" asp-route-permission="@permission" asp-route-classid="@classid" class="options">create new</a>
            </p>
        }
        else
        {
            <p>
                <a asp-action="Create" asp-route-user="@user" asp-route-permission="@permission" class="options">create new</a>
            </p>
        }
    }
</div>
<div class="general">
   
    <div class="items_list">
           
         @foreach (var item in Model) 
        {
                <div class="item" onclick="location.href='@Url.Action("Details", new { user = @user, permission = @permission, courseid = item.CourseId})';">
                    <div class="name">
                   
                     @Html.DisplayFor(modelItem => item.CourseName)
                     </div>
                           
                @if(permission == 0)
                {<div>
                    <a asp-action="Edit" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@item.CourseId" class="options">Edit;</a>
                            
                            <a asp-action="Delete" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@item.CourseId" class="options">Delete</a>
                    </div>
                }
                      
            </div>
        }
    
    </div>
</div>