@model Learning_Space.Models.Lesson

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" href="./css/styles.css">
<h1>Details</h1>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LessonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
