@model Learning_Space.DTO.LessonDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lesson</h4>
    <hr />


        <div class="lesson-row">
            <div class="lesson-info">
                <span class="lesson-date">Date: @Html.DisplayFor(model => model.LessonDate)</span>
            <br />
            <span class="lesson-time">@Html.DisplayFor(model => model.StartTime) - @Html.DisplayFor(model => model.EndTime)</span>
            <br />
            <span class="lesson-type">Course: @Html.DisplayFor(model => model.CourseName)</span>
            <br />
            <span class="lesson-subject"> Subject: @Html.DisplayFor(model => model.LessonSubject)</span>
            <br />
            <span class="lesson-type">@Html.DisplayFor(model => model.LessonType)</span>
            

            @if (Model.LessonType == "Zoom")
                {
                    <span class="lesson-ZOOM">&#x1F517; @Html.DisplayFor(model => model.ZoomUrl)</span>
                }
            </div>
          
        </div>
    

    
</div>
