@model Learning_Space.DTO.MassageDTO

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
}
<h1>Details</h1>

<div>
    <h4>Massage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MassageSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MassageSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MassageDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MassageDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    
    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid">Back to List</a>
</div>
