@model IEnumerable<Learning_Space.DTO.MassageDTO>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid">&#x002B; Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MassageSubject)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td onclick="location.href='@Url.Action("Details", new { user = @user, permission = @permission, courseid = @courseid, messageid = @item.MessageId })';">
                @Html.DisplayFor(modelItem => item.MassageSubject)
                @Html.DisplayFor(modelItem => item.MassageDateTime)
            </td>

            <td>
                    @if (permission == 1 || permission == 0)
                    {
                        <a asp-action="Edit" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid" asp-route-messageid="@item.MessageId">&#x270E;</a>
                        <form asp-action="Deletey" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid" asp-route-messageid="@item.MessageId">
                            <input type="hidden" asp-for="@item.MessageId" />
                            <input type="submit" value="&#9746;" class="btn btn-danger" />
                        </form>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
