@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
}
<div class="general">
<div class="text-center">
     <h1 class="display-4">Welcome</h1>
        <div class="All_permission">
            <a asp-controller="Users" asp-action="Details" asp-route-user="@user" asp-route-permission="@permission" asp-route-userid="@user" class="home_button">
               
                <button>
                    User Settings
                </button>
            </a> 
            <a asp-controller="Home" asp-action="SignUp" class="home_button">
                
                <button>
                    Sign Up  
                </button>
            </a>
            <a asp-controller="Alarms" asp-action="index" asp-route-user="@user" asp-route-permission="@permission" class="home_button">
               
                <button >
                   Alarams
                </button>
            </a>
            <a asp-controller="Calendar" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" class="home_button">
                <button >
                   Calender
                </button>
            </a>
            <a asp-controller="Courses" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" class="home_button">
                <button >
                   Courses
                </button>
            </a>
            <a asp-controller="Lessons" asp-action="Schedule" asp-route-user="@user" asp-route-permission="@permission" asp-route-weekOffset="0" class="home_button">
                <button >
                Schedule
                </button>
            </a>
             @if (permission == 0)
             {
                <a asp-controller="Users" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" class="home_button">
                    <button >
                        Users List
                    </button>
                </a>
                <a asp-controller="Classes" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" class="home_button">
                    <button >
                     Classes
                    </button>
                </a>
             }
             else if (permission == 2)
             {
                <a asp-controller="Tasks" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" class="home_button">
                    <button >
                      Tasks
                    </button>
                 </a>
               
             }
         </div>
    </div>
</div>