@model Learning_Space.DTO.TaskDTO

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
}
<style>
    
    .submission-box {
        float: right;
        margin-left: 30px;
        width: 400px;
    }
</style>

<h1>Details</h1>

<div>
    <h4 class="title">Task</h4>
    
    <hr />
    <p>Course: @Html.DisplayFor(model => model.CourseName)</p>
    <h2>@Html.DisplayFor(model => model.Subject)</h2>
    <span>@Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate)</span>
    <br />
    <br/>
    <span>@Html.DisplayFor(model => model.Context) </span>

</div>

@if (permission == 2)
{
    if (Model.Done==1)
    {
        <div class="submission-box">
            <h4>Submission</h4>
            <p>@Model.PerformanceContent</p>
            <form asp-action="Unsubmit" asp-route-user="@user" asp-route-courseid="@courseid" asp-route-taskid="@Model.TaskId" method="post">
                <button type="submit">Unsubmit</button>
            </form>
            <p></p>
            <p></p>
            @if (ViewBag.Mark>0)
            {
            <div style="background-color: #ffcccc; padding: 10px; text-align:center;">
            <p>Your mark:<span style="color: rgb(211, 83, 83, 0.85); font-weight: bold;">@ViewBag.Mark</span></p>
            <p style="color: rgb(211, 83, 83, 0.85); font-style: italic;">@ViewBag.Remarks</p>
                </div>
            }
        </div>
    }
    else
    {
        // Get the DateOnly representation of the current date
        var currentDate = DateOnly.FromDateTime(DateTime.Now);

        // Check if the EndDate of the task has not passed
        if (Model.EndDate >= currentDate)
        {
        <div class="submission-box">
            <h4>Submission</h4>
            <form asp-action="Submit" asp-route-user="@user" asp-route-courseid="@courseid" asp-route-taskid="@Model.TaskId" method="post">
                <textarea name="Answer" rows="4" cols="50" required></textarea>
                <br />
                <button type="submit">Submit</button>
            </form>

        </div>
        }
        else
        {
            <div class="submission-box" style="background-color: #ffcccc; padding: 10px;">
                <h4 style="color: #ff0000;">Submission (Deadline Passed)</h4>
                <p style="font-style: italic;">Cannot submit. Task deadline has passed.</p>
            </div>
        }
    }
}
else
{
    <br/>
    <a asp-controller="UserTasks" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid" asp-route-taskid="@Model.TaskId">Users task</a>
}



