@model Learning_Space.Models.Task

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" href="./css/styles.css">
<h1>Details</h1>

<div>
    <h4 class="title">Task</h4>
    <hr />
    <dl class="details">
        <div class="details-item">
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskType)
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskType)
            </dd>
        </div>
        <div class="details-item">
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
            </dd>
        </div>
        <div class="details-item">
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
            </dd>
        </div>
        <div class="details-item">
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
            </dd>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskId" class="options">Edit</a> |
    <a asp-action="Index" class="options">Back to List</a>
</div>
