@model IEnumerable<Learning_Space.DTO.AlarmDTO>

@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
}

<h1 class="title">Alarms</h1>


@foreach (var item in Model)
{
    if (item.AlarmType == "9")
    {
        if (permission == 2)
        {
        if(item.TypeId>0)
        {
            <div class="frame_wrong" onclick="location.href='@Url.Action("Index", "Tasks", new { user = @user, permission = @permission })';">
                <h6>You have @item.TypeId assignments left to submit</h6>
            </div>
        }
        else
        {
            <div class="frame_good">
                <h6>You have no assignments to submit! 😊</h6>
            </div>
        }
        }
    }
    if(item.AlarmType == "8")
    {
        <div class="frame" onclick="location.href='@Url.Action("Index", "Home", new { user = @user, permission = @permission })';">
            <h6>WELCOM TO LEARNING SPACE 😊</h6>
        </div>
    }
    else if(item.AlarmType == "6")
    {
        <div class="frame" onclick="location.href='@Url.Action("Details", "Courses", new { user = @user, permission = @permission, courseid = item.CourseId})';">
            <h6>Introduction to a new course!
                Successfully!
            </h6>
            <h7> course name: @item.CorseName</h7>            
        </div>
    }
    else if(item.AlarmType == "4")
    {
       <div class="frame" onclick="location.href='@Url.Action("Details","Tasks", new { user = @user, permission = @permission, courseid = item.CourseId, taskid=item.TaskId})';">
        <h7>A grade has been entered for you for the assignment in the course @item.CorseName</h7>
        </div>
    }
    else if (item.AlarmType == "3")
    {
        <div class="frame" onclick="location.href='@Url.Action("Edit","UserTasks", new { user = @user, permission = @permission, courseid = item.CourseId, taskid=item.TaskId, usertaskid=item.TypeId})';">
        <h7>Your student submitted an assignment in the course @item.CorseName</h7>
        </div>
    }
    else if (item.AlarmType == "1")
    {
        <div class="frame" onclick="location.href='@Url.Action("Details","Lessons", new { user = @user, permission = @permission, courseid = item.CourseId, lessonid=item.TypeId})';">
        <h7>A new lesson has been added in the @item.CorseName course </h7>
        </div>
    }
    else if (item.AlarmType == "2")
    {
        <div class="frame" onclick="location.href='@Url.Action("Details","Massages", new { user = @user, permission = @permission, courseid = item.CourseId, messageid=item.TypeId})';">
            <h7>A new message has been added in the @item.CorseName course </h7>
        </div>
    }
    else if (item.AlarmType == "5")
    {
        <div class="frame" onclick="location.href='@Url.Action("Details","MoreStudies", new { user = @user, permission = @permission, courseid = item.CourseId, moreid=item.TypeId})';">
            <h7>A new Study Material has been added in the @item.CorseName course </h7>
        </div>
    }
    else if (item.AlarmType == "7")
    {
        <div class="frame" onclick="location.href='@Url.Action("Details","Tasks", new { user = @user, permission = @permission, courseid = item.CourseId, taskid=item.TypeId})';">
            <h7>A new task has been added in the @item.CorseName course </h7>
        </div>
    }

        

}
