@model IEnumerable<Learning_Space.DTO.UserTaskDTO>

    @using Microsoft.AspNetCore.Http
@{
    int user = Convert.ToInt32(Context.Request.Query["user"]);
    int permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
    int? taskid = Convert.ToInt32(Context.Request.Query["taskid"]);
}
@{
    ViewData["Title"] = "Index";
    string subject = Model.FirstOrDefault()?.TaskSubject;
}

<h1>@subject;</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.Done)
            {
                <tr onclick="location.href='@Url.Action("Edit", new { user = @user, permission = @permission,courseid=@courseid, taskid = @item.TaskId, usertaskid=item.UserTaskId })';">
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Done)
                    </td>
                    <td>
                        @if (item.Mark > 0)
                        {
                            @Html.DisplayFor(modelItem => item.Mark)
                        }
                    </td>
                    <td>
                        @if (item.Mark > 0)
                        {
                            @Html.DisplayFor(modelItem => item.Remarks)
                        }
                   
                </td>
                </tr>
            }
            else
            {
                <tr>
                 <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Done)
                    </td>
                    <td>
                        @if (item.Mark > 0)
                        {
                            @Html.DisplayFor(modelItem => item.Mark)
                        }
                    </td>
                    <td>
                        @if (item.Mark > 0)
                        {
                            @Html.DisplayFor(modelItem => item.Remarks)
                        }
                   
                </td>
                </tr>
            }
        }
    </tbody>
</table>
