@model Learning_Space.DTO.UserDTO

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Http
@{
    int user = Convert.ToInt32(Context.Request.Query["user"]);
    int permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
    int userid = Convert.ToInt32(Context.Request.Query["userid"]);
}

<h4>&#xf2b9; @Html.DisplayFor(model => model.FirstName)</h4>
<h3>Details</h3>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            &#64;
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            &#9743;
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        @*  <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Password)
        </dd> *@
    </dl>
</div>
<div>
    @if (user == userid)
    {
        <a asp-action="Edit" asp-route-user="@user" asp-route-permission="@permission" asp-route-userid="@Model?.UserId">Edit</a>
    }
    @if (courseid.HasValue && courseid.Value != 0)
    {
        <a asp-action="Index" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid">Back to List</a>
    }
    else
    {
        if (user == 0)
        {
            <a asp-action="Index" asp-route-user="@user" asp-route-permission="@permission">Back to List</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" asp-route-user="@user" asp-route-permission="@permission">Back to my user</a>
        }

    }
</div>
