@model IEnumerable<Learning_Space.DTO.UserDTO>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
    int? classid = Convert.ToInt32(Context.Request.Query["classid"]);
}
 
<h1>Index</h1>
@if (classid.HasValue && classid.Value != 0)
{
    <p>
        Add Student
    </p>
    <form method="post" action="/Users/AddStudentToClass">
        <div class="form-group">
            <label for="SelectedStudentId" class="control-label">Select a student: </label>
            <select id="SelectedStudentId" name="SelectedStudentId" class="form-control" asp-items="ViewBag.StudentNotInClass"></select>
        </div>
        <input type="hidden" name="classId" value="@classid.Value" />
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
}
else if (permission == 0 && courseid.HasValue && courseid.Value != 0)
{
    <p>
        <a asp-action="Create" asp-route-user="@user"  asp-route-ts="Student">Create New Student</a>
        <a asp-action="Create" asp-route-user="@user"  asp-route-ts="Teacher">Create New Teacher</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstName) *@
                <p>Name</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                <p/>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
                
                        <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
                
        
                <td>
                    @if (courseid.HasValue && courseid.Value != 0)
                    {
                        <a asp-action="Details" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid" asp-route-userid="@item.UserId">Details</a>
                    }
                    else
                    {
                         <a asp-action="Details" asp-route-user="@user" asp-route-permission="@permission"  asp-route-userid="@item.UserId">Details</a>
                    }


                    @if (permission == 0 && item.UserId != 0 && courseid.Value == 0)
                    {
                        <p>  </p>
                        if (classid.HasValue && classid.Value != 0)
                        {
                            <a asp-action="Delete" asp-route-user="0" asp-route-permission="0" asp-route-classid="@classid" asp-route-userid="@item.UserId">Delete</a>
                        }
                        else
                        {
                        <a asp-action="Delete" asp-route-user="0" asp-route-permission="0" asp-route-userid="@item.UserId">Delete</a>                            
                        }
                    }
                    @if (user == item.UserId)
                    {
                        <p></p>
                        if (courseid.Value != 0)
                        {
                            <a asp-action="Edit" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid" asp-route-userid="@item.UserId">Edit</a>
                        }
                        else if(classid.Value != 0)
                        {
                            <a asp-action="Edit" asp-route-user="@user" asp-route-permission="@permission" asp-route-classid="@classid" asp-route-userid="@item.UserId">Edit</a>
                        }
                        else{

                            <a asp-action="Edit" asp-route-user="@user" asp-route-permission="@permission" asp-route-userid="@item.UserId">Edit</a>

                        }

                    }

            </td>
        </tr>
}
    </tbody>
</table>
