@model IEnumerable<Learning_Space.DTO.ChatMessageDTO>
@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
}

<style>
    /* Style for the chat messages */
    .chat-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        /* Set the background image */
          background-size: cover; 
         background-position: center; 
       
    }
  
    .chat-message {
        /* display: inline-block; */
        word-break: break-all;
        padding: 8px;
        border-radius: 10px;
    }

    .current-user {
        background-color: #DCF8C6;
        align-self: flex-end;
    }

    .other-user {
        background-color: #E0E0E0;
        align-self: flex-start;
    }

    .message-details {
        font-size: smaller;
        color: #999999;
        margin-top: -10px;
    }

        .message-details span {
            margin-right: 10px;
        }

        .message-details strong {
            font-weight: normal;
            margin-right: 5px;
        }

    #chat-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 650px;
        overflow-y: auto;
        
    }

 

    #chat-input {
        width: 150%;
        align-items: center;
    }


</style>

<script>
    // Scroll to the bottom of the messages div
    function scrollToBottom() {
        var messagesDiv = document.getElementById("chat-wrapper");
        messagesDiv.scrollTop = messagesDiv.scrollHeight;
    }

    // Call the scrollToBottom function after the messages are rendered
    window.addEventListener('DOMContentLoaded', scrollToBottom);
</script>
<div id="chat-wrapper" style="height: 400px; overflow-y: scroll;">
    <div class="chat-container">
        @foreach (var message in Model)
    {
            <div class="chat-message @(message.ISender == 1 ? "current-user" : "other-user")">
            <strong>@($"{message.SenderFirstName} {message.SenderLastName}")</strong>

                <p>@message.Body</p> 
                <div class="message-details">
                    <span>@($"{message.SentDateTime:dd-MM-yyyy  HH:mm}")</span>
                </div>
        </div>
        }       
        </div>
</div>
<div class="chat-input">
    <form asp-action="SendMessage" asp-route-user="@user" asp-route-permission="@permission" asp-route-courseid="@courseid">
        <input size="50%" type="text" name="Body" placeholder="Message" required />
        <button type="submit">Send</button>
        
    </form>
</div>

