@model IEnumerable<Learning_Space.DTO.ClassDTO>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
}
<link rel="stylesheet"  href="./css/site.css">
<style>
    tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-user="@user" asp-route-permission="@permission">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr >

                <td onclick ="location.href='@Url.Action("Details", new { user = @user, permission = @permission, classid = @item.ClassId })';">
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                    <a class="icon" asp-action="Edit" asp-route-user="@user" asp-route-permission="@permission" asp-route-classid="@item.ClassId">&#9998;</a>
                    <a class="icon" asp-action="Delete" asp-route-user="@user" asp-route-permission="@permission" asp-route-classid="@item.ClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
