@model IEnumerable<Learning_Space.DTO.ClassDTO>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="location.href='@Url.Action("Details", new { user = @user, permission = @permission, classid = @item.ClassId })';">

            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-user="@user" asp-route-permission="@permission" asp-route-classid="@item.ClassId">Edit</a>
                    <a asp-action="Delete" asp-route-user="@user" asp-route-permission="@permission" asp-route-classid="@item.ClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
