@model IEnumerable<Learning_Space.DTO.ClassDTO>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
}

<h1 class="title">Classes</h1>
<hr/>
<div class="general">
    
<p>
        <a asp-action="Create" asp-route-user="@user" asp-route-permission="@permission">create class</a>
</p>
<div >

        <div class="items_list">
        @foreach (var item in Model)    
        {
            <div class="item">
            <div class="item_link" onclick ="location.href='@Url.Action("Details", new { user = @user, permission = @permission, classid = @item.ClassId })';">
                     @Html.DisplayFor(modelItem => item.ClassName)
                </div>
                    <div class="item_link" onclick="location.href='@Url.Action("Details", new { user = @user, permission = @permission, classid = @item.ClassId })';">
                   <a class="icon" asp-action="Edit" asp-route-user="@user" asp-route-permission="@permission" asp-route-classid="@item.ClassId">&#x270E;</a>
                   <a class="icon" asp-action="Delete" asp-route-user="@user" asp-route-permission="@permission" asp-route-classid="@item.ClassId">&#x2716;</a>
                </div>
            </div>
        }
    </div>
</div>
</div>